.txt_header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;

    text-align: center;
}

.nav{
    width: 80%;
    margin: 30px auto;
    background: #005883;
    text-align: center;
    margin: 0;
    margin-left: 150px;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 180px;
}

.menu li a:hover{
    background-color: #F47920;
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: #005883;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 175px;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
}
li{
    line-height: 20px;
    text-decoration: none;
}
.autor {
    width: 100%;
    text-align: left;
    padding: 200px;
    border-collapse: collapse;
    margin-top: 20px;
}
.text_subtitulos{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    text-align: center;

}
.text_subtitulos2{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    padding-left: 30px;
}
.text_pres{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
.header_autor{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    padding-left: 30px;

}
.header_autor1{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    text-align: initial;

}
.table_estilo{
    width: 80%;
    border: 7px solid #F47920;
    margin-left: 150px;
    align-content: center;
}
.td1{

    height: 400px;
    text-align: left;
    vertical-align: top;


}
.text_pres1{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: initial;
}
.text_pres2{
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
.foto{
    margin-top: -120px;
}
.table_estilo-activity {
    width: 500px;
    height: 500px;
    margin-left: 10px;
    align-content: center;

}
.table_estilo-activity-1 {
    width: 500px;
    height: 500px;
    margin-left: 150px;
    align-content: center;

}
.foot{
    background:#F47920 ;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
}
.icons{
    width: 20px;
    height: 20px;
    margin-right: 5px;


}